/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: grey;
    font-family: 'Consolas', monospace; /* Set font to Consolas */
}

#content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    margin: 0 5% ;
    background-color: grey;
    color: white;
}

/* Navbar styles */
#navbar-placeholder {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: flex-start; /* Align navbar items to the left */
    position: absolute; /* Position navbar absolutely */
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure navbar is on top */
}

#navbar {
    display: none; /* Hide the navbar by default */
    flex-direction: column;
    background-color: black;
    width: 100%;
    position: absolute; /* Position navbar absolutely */
    top: 50px; /* Adjust top position to be below the menu icon */
}

#navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: left; /* Align text to the left */
}

#navbar a:hover {
    background-color: white;
    color: black;
}

/* Three-bar menu styles */
#menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 14px 16px;
    position: absolute; /* Position menu icon absolutely */
    top: 0;
    left: 0;
    z-index: 1001; /* Ensure menu icon is on top */
}

#menu-icon div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* Show navbar when menu is clicked */
#navbar.show {
    display: flex;
}

/* Footer styles */
#footer-placeholder {
    background-color: black;
    text-align: center;
    padding: 20px;
}

#footer {
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
    gap: 15px; /* Space between links */
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

/* Titlebar styles */
.titlebar {
    background: repeating-linear-gradient(
        black,
        black 5px,
        green 10px,
        grey 5px
    );
    color: white;
    text-align: center;
    font-size: 2.5em; /* Slightly bigger font size */
    font-weight: bold; /* Make the font bold */
    padding: 20px 0;
}
